/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh; /* Garante que o fundo ocupe toda a tela */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background: #000000;
    backdrop-filter: blur(10px);
}

.logo img {
    height: 120px;
}

/* Links de navegação */
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #fbd756;
    border: 2px solid #fbd756;
    padding: 5px;
    border-radius: 5px;
}

/* Ícone do menu (mobile) */
.menu-toggle {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

/* Responsividade */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 120px;
        right: 0;
        background: #1b1b1b;
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding: 15px 0;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
    }

    .nav-links.active {
        display: flex;
    }
}

.fundo1 {
    width: 100%;
    height: auto;
}
@media (max-width: 768px) {
    .fundo1 {
      width: auto;
      height: 720px;
    }
}
/* Texto centralizado sobre a imagem */
.texto1 {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: left;
    z-index: 1; /* Garante que o texto fique acima da imagem */
}
.texto{
    text-align: left;
    font-size: 20px;
}
@media (max-width: 768px) {
    .texto1 {
     font-size: 23px;
    }
}
@media (max-width: 768px) {
    .texto {
     font-size: 16px;
     
    }
}
.divtxt{
    background-color: white;
    color: black;
    width: 100%;
    padding: 100px 300px;
}
@media (max-width: 768px) {
    .divtxt {
        padding: 0 0;
        width: 80%;
     
    }
}
@media (max-width: 768px) {
    .parag {
        padding: 30px 0;
        text-align: justify;
    }
}
