/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background: #000037; /* Transparente */
    backdrop-filter: blur(10px); /* Efeito vidro fosco */
}

.logo img {
    height: 120px;
}

/* Links de navegação */
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #fbd756;
}

/* Ícone do menu (mobile) */
.menu-toggle {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

/* Responsividade */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        position: absolute;
        top:152px;
        right: 0;
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding: 15px 0;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
    }

    .nav-links.active {
        display: flex;
    }
}
